html{
    scroll-behavior: smooth;
}
body{
    background-color: $bg-color;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
 
}

.section{
    padding: 5rem 8rem;
    width: 100%;
}

h1{
    margin-top:0 ;
    padding-top:0 ;
}

a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
    outline: none;
    border-style: none;
}
.button{
    background-color:$first-color  ;
    padding: .5rem 1rem;
    color: #fff;
    margin-top: 4rem;
    outline: 1px transparent;
    transition:background-color .5s ease, outline .5s ease-in-out;
    &:hover{
        background-color:#000;
        outline: 1px solid $text-color;
    }
}
li{
    list-style: none;
    text-decoration: none;
}

img{
    opacity: 0.4;
    transition: opacity .3s ease,transform .3s ease;
    &:hover{
        opacity: 1;
        transform: scale(1.1);
    }
}