.section-1{
    min-height: 90vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .30),rgba(0,0,0,100)),url(../assets/imgs/heroimg.jpg);
    padding-top: 7rem;
    background-repeat: no-repeat;
    background-size: cover;
    

    h1{
        line-height: 1.7;
        font-size: 50px;
        font-weight: 400;
        transform: translateX(-150%);
        transition: transform 1s ease;
        
    }
    p{
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 4rem;
        opacity: 0;
    transition: opacity 2.5s ease;
    }
    &-button{
        background-color:$first-color  ;
        padding: .5rem 1rem;
        color: #fff;
        margin-top: 4rem;
        transition:background-color .3s ease-in-out, opacity 3.5s ease, outline .5s ease-in-out;
        opacity: 0;
    
        &:hover{
            background-color:#000;
        }
    }
}